{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "no-console": 0,
    "comma-dangle": 0,
    "comma-style": [ 1, "first" ],
    "react/jsx-boolean-value": 0,
    "array-bracket-spacing": 0,
    "no-nested-ternary": 0,
    "no-else-return": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "space-unary-ops": [
      2, {
        "words": true,
        "nonwords": false,
        "overrides": {
          "!": true
        }
      }
    ]
  }
}

// vim:ft=json
